[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow-gpu = "==2.1.0"
numpy = "*"
opencv-python = "*"
tqdm = "*"
ipython = "*"
PyYAML = "*"
Pillow = "*"
Cython = "*"

[requires]
python_version = "3.7"
